<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue con table html5</title>
</head>
<body>
    <table class="greenTable" id="una_tabla">
        <thead>
            <!--Estructura dinámica-->
            <tr>
                <th v-for="heading in tableHeadings">
                    {{heading.label}}
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <button onclick="ModoAdicion_unatabla()">Añadir</button>
            <!--Estructura dinámica-->
            <tr v-for="row in registros">
                <td v-for="column in tableHeadings">                    
                    <div v-if="editando === row.id || agregando == row.id">
                        <input v-bind:type="column.input_type" v-model="row[column.name]">
                    </div>
                    <div v-else>
                        {{beautifyData(row[column.name], column.input_type)}}
                    </div>        
                </td>
                <td v-if="editando === row.id ||  agregando == row.id">
                    <button @click="Guardar(row)">Guardar</button>
                    <button @click="CancelarEdicion(row)">Cancelar</button>
                </td>
                <td v-else>
                    <button @click="ModoEdicion(row)">Editar</button>
                    <button @click="Borrar(row)">Borrar registro</button>
                </td>
            </tr>
            
        </tbody>
    </table>


    <table id="tabla_hija" class="greenTable">
            <thead>
                <!--Estructura fija-->
                <tr>
                    <th>Detalle</th>
                    <th>Fecha detalle</th>
                    <th>Componente</th>
                    <th>Valor</th>
                    <th>Telefono</th>
                </tr>
            </thead>
            <tbody>
                <button onclick="ModoAdicion_tabla_hija()">Añadir</button>
                <!--Estructura fija-->
                <tr v-for="row in registros">
                    <td v-if="editando === row.id || agregando == row.id">
                        <input type="text" v-model="row.detalle"/>
                    </td>
                    <td v-else>{{row.detalle}}</td>
                    
                    <td v-if="editando === row.id ||  agregando == row.id">
                        <input type="date" v-model="row.fecha_detalle">
                    </td>
                    <td v-else>{{row.fecha_detalle}}</td>
                    
                    <td v-if="editando === row.id ||  agregando == row.id">
                        <input type="text" v-model="row.Componente">               
                    </td>
                    <td v-else>{{row.Componente}}</td>
                    
                    <td v-if="editando === row.id ||  agregando == row.id">
                        <input type="number" v-model="row.Valor">
                    </td>
                    <td v-else>{{row.Valor}}</td>
    
                    <td v-if="editando === row.id ||  agregando == row.id">
                            <input type="tel" v-model="row.telefono">
                        </td>
                        <td v-else>{{row.telefono}}</td>
        
                    <td v-if="editando === row.id ||  agregando == row.id">
                        <button @click="Guardar(row)">Guardar</button>
                        <button @click="CancelarEdicion(row)">Cancelar</button>
                    </td>
                    <td v-else>
                        <button @click="ModoEdicion(row)">Editar</button>
                        <button @click="Borrar(row)">Borrar registro</button>
                    </td>
                </tr>
            </tbody>
        </table>
    <button onclick="Enviar()">Enviar a servidor</button>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/main.js"></script>
<link rel="stylesheet" href="style.css">
</html>